html,
body {
  background-color: #f5faf8;
}
html header,
body header {
  position: relative;
  width: 7.5rem;
  height: .8rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #4db3f2;
}
html header p,
body header p {
  font-size: .4rem;
  text-align: center;
  line-height: .8rem;
  color: #ffffff;
}
html header a,
body header a {
  position: absolute;
  right: .35rem;
  top: 0;
  bottom: 0;
  margin: auto;
  width: .41rem;
  height: .44rem;
  background: url(../images/back.png) center no-repeat;
  background-size: cover;
}
html section,
body section {
  width: 7.5rem;
  height: 3.77rem;
  background: url(../images/pic_1.png) center no-repeat;
  background-size: cover;
}
html section.wx,
body section.wx {
  background: url(../images/pic_2.png) center no-repeat;
  background-size: cover;
}
html main,
body main {
  padding-top: .5rem;
}
html main ul,
body main ul {
  box-sizing: border-box;
  margin: 0 auto .4rem;
  padding: .1rem 0;
  width: 6.75rem;
  border: 2px solid #4db3f2;
  border-radius: .1rem;
}
html main ul li,
body main ul li {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: .5rem;
  width: 5.9rem;
  height: .7rem;
  border-bottom: 1px solid #0976d8;
}
html main ul li:last-child,
body main ul li:last-child {
  border-bottom: none;
}
html main ul li p,
body main ul li p {
  font-weight: bold;
  font-size: .32rem;
  line-height: .7rem;
}
html main ul li p span,
body main ul li p span {
  position: absolute;
  left: 2.66rem;
  font-weight: normal;
}
