html,body{
    background-color: #f5faf8;
    header{
        position: relative;
        width: 7.5rem;
        height: .8rem;
        box-shadow: 0 5px 10px rgba(0,0, 0, .3);
        background-color: #4db3f2;
        p{
            font-size: .4rem;
            text-align: center;
            line-height: .8rem;
            color: #ffffff;
        }
        a{
            position: absolute;
            right: .35rem;
            top: 0;
            bottom: 0;
            margin: auto;
            width: .41rem;
            height: .44rem;
            background: url(../images/back.png) center no-repeat;
            background-size: cover;
        }
    }
    section{
        box-sizing: border-box;
        margin: 0 auto .33rem;
        padding: .15rem 0;
        width: 6.75rem;
        border: 2px solid #4db3f2;
        border-radius: .1rem;
    }
}